<ion-content [fullscreen]="true" color="success" class="ion-text-center" mode="ios" style="font-family: 'Inter', sans-serif;">
  <p>Recupere a sua senha informando o seu e-mail cadastrado</p>
  <ion-item  color="success">
      <ion-input label="email" label-placement="floating" fill="solid" style="color: #fff;" placeholder="chama@gmail.com" type="email"></ion-input>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
  </ion-item>

  <ion-button style="width: 70%;" color="light" routerLink="/recupere">Pagamento</ion-button>
</ion-content>